<!DOCTYPE html>
<!-- Can change background to an image later-->
<html style="background-image: url('static/images/testimage2.png'); background-size: 50%;">
    <head>
        <title>GameTrack</title>
        <!-- learned how to do this from https://pythonhow.com/python-tutorial/flask/Adding-CSS-styling-to-your-website/ -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>

    <body>
        <div id="mainpanel" class="panel">
            {% block content %}{% endblock %}

        </div>

    </body>

</html>