{% extends "inapp_base.html" %}

{% block content %}

    <h3 style="text-align: center;"> Event Calendar </h3>

    <a href="/create_event"> Create New Event </a>

    <!-- go to routes to get query results -->
    <table style="text-align: center; margin-left: 30%;">
        <th> Event Name </th>
        <th> Date </th>
        <th> Description </th>
        {% for ev in events %}
        <tr>
            <td> {{ev.title}} </td>
            <td> {{ev.date}} </td>
            <td> {{ev.description}} </td>
            <br/>
        </tr>
        {% endfor %}
    </table>
    <style>
        th{
            padding: 10px;
        }
        td {
            padding: 10px;

        }
    </style>

{% endblock %}