{% extends "base.html" %}

<!-- will add styling later -->
<div class = "panel" style="border-radius: 25px; background-color: rgb(218, 218, 218); min-height: 400px;">
    <form>
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
    </form>
    <!-- ideally this will lead to the forgot pw screen-->
    <a href="/forgotpw"> Forgot Password </a>
</div>