{% extends "inapp_base.html" %}

{% block content %}

<h3 style="text-align: center;"> Today's Planner </h3>

<div>
   <form action="" method="post">
      {{ form.hidden_tag() }}
      <p>
         {{ form.game_name.label }}<br>
         {{ form.game_name(size=32) }}
      </p>
      <p>{{ form.submit() }}</p>
   </form>
</div>

<!-- TODO implement add/remove game button -->

{% for g, user_game in games %}
    <tr>
        <h3> <img src="{{g.image}}"> {{g.name}} </h3>
        <br>
        <ul>
            {% for t in tasks if t.game_name == g.name %}
                <li><input type="checkbox"> {{t.goal}}</li>
                <br>
            {% endfor %}
            {% for ct in ctasks if ct.game_name == g.name %}
                <li><input type="checkbox"> {{ct.goal}}</li>
                <br>
                <!-- TODO "add task" button and functionality -->
                
            {% endfor %}
        </ul>
    </tr>

    <style>
      li {
         margin-left: 150px;
      }
    </style>
{% endfor %}

{% endblock %}
