{% extends "inapp_base.html" %}

{% block content %}

<h3 style="text-align: center;"> Today's Planner </h3>

<!-- TODO add box to search game from db , on select it adds game?  --> 
<!-- if it has game in db hopefully itll work-->
<!-- todo add img per game  if time -->
<form action="" method="post" novalidate>
   <p>
      {{ form.game_name.label }}<br>
      {{ form.game_name(size=32) }}
  </p>
  <p>{{ form.submit() }}</p>
</form>

{% endblock %}

<!-- TODO implement add/remove game button -->

<!-- TODO implement grabs every users games and every users' subscribed tasks -->
<!-- every task should have a checkmark -->
<!-- every game should have an enter custom goals to add to this-->