{% extends "inapp_base.html" %}

{% block content %}

<h3 style="text-align: center;"> Today's Planner </h3>

<div>
   <form action="" method="post">
      {{ form.hidden_tag() }}
      <p>
         {{ form.game_name.label }}<br>
         {{ form.game_name(size=32) }}
      </p>
      <p>{{ form.submit() }}</p>
   </form>
</div>

<!-- TODO implement add/remove game button -->
<!-- TODO add img per game  if time -->

<!-- TODO fix bug -->
{% for g in games %}
        <tr>
            <td> {{g.game_name}} </td>
            <br/>
            <ul>
            {% for t in tasks %}
               {% if g.game_name == t.game_name %}
                  <li><input type="checkbox"> {{t.goal}}</li>
                  <br/>
               {% endif %}
            {% endfor %}
            {% for ct in ctasks %}
               {% if g.game_name == ct.game_name %}
                  <li><input type="checkbox"> {{ct.goal}}</li>
                  <br/>
                  <!-- TODO add task button and functionality -->
               {% endif %}
            {% endfor %}
            </ul>
        </tr>
{% endfor %}

{% endblock %}
