{% extends "base.html" %}

<!-- TODO: see if the form works -->
{% block content %}
<div>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}
        </p>
        <p>
            {{ form.passwordRepeat.label }}<br>
            {{ form.passwordRepeat(size=32) }}
        </p>
        <!-- TODO: pull from db to add games the user is interested in-->
        <!-- TODO: make it go back to log in after a submit-->
        <p>{{ form.submit() }}</p>
    </form>

    <!-- temp debug -->
    {% for user in users %}
            <p> there is an entry!</p>
			<p>{{user.username}}</p>
			<p>{{user.email}}</p>
			<p>{{user.password}}</p>
            <br/>
	{% endfor %}
</div>
{% endblock %}